  .uiverse {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: red;
    border: 1px solid transparent;
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 15px;
  }
  
  .uiverse:hover {
    background: rgb(5, 174, 193);
  }
  
  .uiverse > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  .uiverse :hover svg {
    transform: translateX(5px);
  }
  
  .uiverse:active {
    transform: scale(0.95);
  }
  
  